html {
    background-image: url('/acled/map.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body {
    width: 60%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 1rem 5rem;
    background-color: #fff;
}

#home-hero {
    width: 80%;
    margin: 0 auto;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

#home-hero h1 {
    font-size: 3rem;
    margin: 2rem 0;
    padding: 0;
}

hr {
    margin: 3rem 0;
}

footer {
    font-size: 0.8rem;
    bottom: 0;
    padding: 2rem 0;
    margin-top: 2rem;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}
