
body {
    width: 60%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 8rem);
    position: relative;
    padding: 1rem 5rem 7rem;
}

img {
    width: 60%;
    margin: 4rem auto;
    display: block;
    cursor: zoom-in;
}

img:fullscreen {
    cursor: auto;
}

iframe {
    width: 100%;
    padding-top: 100%;
}
