
body {
    width: 60%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 1rem 5rem;
}

footer {
    bottom: 0;
    padding: 2rem 0;
    margin-top: 2rem;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}


img {
    width: 60%;
    margin: 4rem auto;
    display: block;
    cursor: zoom-in;
}

img:fullscreen {
    cursor: auto;
}

iframe {
    width: 100%;
    padding-top: 100%;
}
