@media (max-width: 1000px) {
    body {
        width: 90%;
        padding: 0 0;
        box-shadow: none;
    }

    footer {
        width: 100%;
        padding: 1rem 0;
    }

    img {
        width: 100%;
        margin: 0;
    }
}
