@media (max-width: 1000px) {
    body {
        width: 90%;
        padding: 0 0;
        box-shadow: none;
    }

    #home-hero {
        width: 100%;
    }

    #home-hero h1 {
        font-size: 2rem;
        margin: 1rem 0;
    }

    footer {
        width: 100%;
        padding: 1rem 0;
    }

    img {
        width: 100%;
        margin: 0;
    }
}
