@media (max-width: 1000px) {
    body {
        width: calc(100% - 2rem);
        padding: 1rem;
        box-shadow: none;
    }

    #home-hero {
        width: 100%;
    }

    #home-hero h1 {
        font-size: 2rem;
        margin: 1rem 0;
    }

    footer {
        width: 100%;
        padding: 1rem 0;
    }

    figure {
        width: 100%;
        margin: 0;
    }
}
